---
layout: default
title: Tags
permalink: /tags/
---
<div class="tags-page">
  <h1>Tags</h1>

  <ul class="tag-list">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
    <li><a href="#{{ tag[0] }}">{{ tag[0] }} ({{ tag[1].size }})</a></li>
    {% endfor %}
  </ul>

  {% for tag in sorted_tags %}
  <div class="tag-section" id="{{ tag[0] }}">
    <h2>{{ tag[0] }}</h2>
    <ul class="post-list">
      {% for post in tag[1] %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
