---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">
      {{ page.date | date: "%b %-d, %Y" }}
      &middot;
      {% assign words = content | number_of_words %}{% if words < 200 %}1{% else %}{{ words | divided_by: 200 }}{% endif %} min read
      {% if page.tags.size > 0 %}
      <span class="post-tags">
        {% for tag in page.tags %}<a class="post-tag" href="/tags/#{{ tag }}">{{ tag }}</a>{% endfor %}
      </span>
      {% endif %}
    </p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
