[Unit]
Description=Level 0 Simple Server
After=network.target

[Service]
Type=simple
User=kodyw
WorkingDirectory=/Users/kodyw/Documents/GitHub/localFirstTools/notes/vm-abstraction-lab/level-0-process
ExecStart=/usr/bin/python3 /Users/kodyw/Documents/GitHub/localFirstTools/notes/vm-abstraction-lab/level-0-process/simple_server.py
Restart=always

[Install]
WantedBy=multi-user.target
